body, table td, select {
  font-family:Arial Unicode MS, Arial, sans-serif;
  font-size:small;
}

body {
  color:black;
  margin:0px;
  border:0px;
  padding:0px;
  background:white;
  direction:ltr;
}

a, a:visited, a:hover {
  color:#0000AA;
}

.gwt-Button {
  background-color:#c3d9ff;
  border:1px solid #809bb9;
  color:#004699;
  cursor:pointer;
  white-space:nowrap;
  padding:2px 4px 2px 4px;
}

.gwt-Button:active {
  xborder:1px inset #ccc;
}

.gwt-Button:hover {
  border:1px solid black;
}

.gwt-DialogBox {
  color:black;
  background-color:white;
  border:1px solid #67a7e3;
  width:auto;
  height:auto;
}

/*dark blue:#67a7e3
  light blue:#c3d9ff
 */
.gwt-DialogBox .Caption {
  color:black;
  text-decoration:none;
  font-weight:bold;
  xborder-top:0px;
  xborder-left:0px solid #29395A;
  xborder-right:0px solid #29395A;
  xborder-bottom:1px solid #004699;
  padding:2px 2px 2px 2px;
  background-color:#c3d9ff;
  xheight:26px;
  cursor:pointer;
}

.gwt-DialogBox .dialogContent {
  padding:5px 5px 5px 5px;
}

.gwt-DialogBox .dialogMiddleCenter {
  xpadding:3px;
  xbackground:white;
}

.gwt-TabBar {
}
.gwt-TabBar .gwt-TabBarFirst {
  width:5px;  /* first tab distance from the left */
}
.gwt-TabBar .gwt-TabBarRest {
}
.gwt-TabBar .gwt-TabBarItem {
  margin-left:6px;
  padding:3px 6px 3px 6px;
  cursor:pointer;
  cursor:hand;
  color:black;
  font-weight:bold;
  text-align:center;
  background:#d0e4f6;
}
.gwt-TabBar .gwt-TabBarItem-selected {
  cursor:default;
  background:#92c1f0;
} 
.gwt-TabPanel {
}
.gwt-TabPanelBottom {
  border-color:#92c1f0;
  border-style:solid;
  border-width:3px 2px 2px;
  overflow:hidden;
  padding:6px;
}

.gwt-TextArea {
  padding:2px;
}
.gwt-TextArea-readonly {
  color:#888;
}

.gwt-TextBox {
  padding:2px;
}
.gwt-TextBox-readonly {
  color:#888;
}

.gwt-Tree .gwt-TreeItem {
  padding:1px;
  margin:0px;
  white-space:nowrap;
  cursor:hand;
  cursor:pointer;
}
.gwt-Tree .gwt-TreeItem-selected {
  background:#93c2f1;
}

.gwtlib-showcase {
}
  
.gwtlib-showcase-ContentWidget {
}

.gwtlib-showcase-ContentWidget-name {
  font-size:large;
  font-weight:bold;
  padding-bottom:15px;
}

.gwtlib-showcase-ContentWidget-description {
  border-bottom:1px solid #7aa5d6;
  margin-bottom:15px;
  padding-bottom:15px;
}

